name: Prio on label
on:
  issues:
    types: [labeled]
  pull_request:
    types: [labeled]

jobs:
  prio:
    runs-on: ubuntu-20.04
    steps:
      - uses: proximyst/pr-label-action@main
        id: check
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          case-sensitive: true
          run-prefix: 'echo'
          items: |
            [
              {
                "label": "prio: high",
                "run": "'::set-output name=prio::High prio'"
              },
              {
                "label": "prio: medium",
                "run": "'::set-output name=prio::Medium prio'"
              },
              {
                "label": "prio: low",
                "run": "'::set-output name=prio::Low prio'"
              },
              {
                "label": "needs-triage",
                "run": "'::set-output name=prio::Todo'"
              }
            ]
      - run: 'echo "${{ steps.check.outputs.prio }}"'
      - uses: alex-page/github-project-automation-plus@v0.4.0
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          project: Basic board
          column: '${{ steps.check.outputs.prio }}'
        if: 'steps.check.outputs.prio != 0'
      - uses: andymckay/labeler@1.0.2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          remove-labels: 'needs-triage, prio: low, prio: medium, prio: high'
        if: 'steps.check.outputs.prio != 0'

# vim: set ff=unix autoindent ts=2 sw=2 tw=0 et :
