name: prioritize
on:
  issue_comment:
    types: [created]

jobs:
  prio:
    runs-on: ubuntu-20.04
    steps:
      - uses: xt0rted/slash-command-action@v1.1.0
        id: check
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          command: prio
          reaction: true
          reaction-type: eyes
          permission-level: read
      - uses: alex-page/github-project-automation-plus@main
        with:
          project: Basic board
          column: '${{ steps.check.outputs.command-arguments.charAt(0).toUpperCase() + steps.check.outputs.command-arguments.toLowerCase().slice(1) }} prio'
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
        if: 'steps.check.outputs.command-arguments != 0'

# vim: set ff=unix autoindent ts=2 sw=2 tw=0 et :
