name: prioritize
on:
  issue_comment:
    types: [created]

jobs:
    prioritize:
        runs-on: ubuntu-latest
        steps:
            - uses: khan/pull-request-comment-trigger@master
              id: high
              with:
                trigger: '/p=high'
            - uses: khan/pull-request-comment-trigger@master
              id: medium
              with:
                trigger: '/p=medium'
            - uses: khan/pull-request-comment-trigger@master
              id: low
              with:
                trigger: '/p=low'

            - run: echo 'is high prio!'
              if: steps.high.outputs.triggered == 'true'
            - run: echo 'is medium prio!'
              if: steps.medium.outputs.triggered == 'true'
            - run: echo 'is low prio!'
              if: steps.low.outputs.triggered == 'true'

# vim: set ff=unix autoindent ts=2 sw=2 tw=0 et :
