name: prioritize
on:
  issue_comment:
    types: [created]

jobs:
  prio:
    runs-on: ubuntu-20.04
    steps:
      - uses: xt0rted/slash-command-action@v1.1.0
        id: check
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          command: prio
          reaction: true
          reaction-type: eyes
          permission-level: read
      - run: 'echo "::set-output name=prio::$(echo "${{ steps.check.outputs.command-arguments }}" | sed ''s/.*/\u&/'')"'
        id: name
        if: 'steps.check.outputs.command-arguments != 0'
      - uses: alex-page/github-project-automation-plus@main
        with:
          project: Basic board
          column: '${{ steps.name.outputs.prio }} prio'
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
        if: 'steps.check.outputs.command-arguments != 0'

# vim: set ff=unix autoindent ts=2 sw=2 tw=0 et :
