name: prioritize
on:
  issue_comment:
    types: [created]

jobs:
  prio:
    runs-on: ubuntu-20.04
    steps:
      - uses: xt0rted/slash-command-action@v1.1.0
        id: check
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          command: prio
          reaction: true
          reaction-type: eyes
          permission-level: read
      - run: 'echo high found!'
        if: steps.check.outputs.command-arguments == 'high'
      - run: 'echo medium found!'
        if: steps.check.outputs.command-arguments == 'medium'
      - run: 'echo low found!'
        if: steps.check.outputs.command-arguments == 'low'
      - run: 'echo args: ${{ steps.check.outputs.command-arguments }}'
        if: 'steps.check.outputs.command-arguments != 0'
    #jobs:
    #  prio:
    #    strategy:
    #      matrix:
    #        prioritisation: [high, medium, low]
    #        include:
    #          - prioritisation: high
    #            column: High prio
    #          - prioritisation: medium
    #            column: Medium prio
    #          - prioritisation: low
    #            column: Low prio
    #    runs-on: ubuntu-latest
    #    steps:
    #      - uses: khan/pull-request-comment-trigger@master
    #        id: check
    #        with:
    #          trigger: '${{ matrix.prioritisation }}'
    #          reaction: rocket
    #        env:
    #          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    #      - uses: alex-page/github-project-automation-plus@v0.3.0
    #        id: prioritisation
    #        with:
    #          project: Basic board
    #          column: '${{ matrix.column }}'
    #          repo-token: '${{ secrets.GITHUB_TOKEN }}'
    #        if: steps.check.outputs.triggered == 'true'

# vim: set ff=unix autoindent ts=2 sw=2 tw=0 et :
